.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.weather {
  display: block;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(145, 169, 178) 0%,
    rgb(234, 241, 249) 90.1%
  );
  padding: 15px 45px 15px 45px;
  width: 700px;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 20%);
  margin: 0 auto;
}
.vertical {
  border-left: 2px solid rgb(192, 186, 186);
  height: 150px;
  position: absolute;
  top: 19%;
  left: 49%;
}
.city_date {
  position: absolute;
  top: 21%;
  left: 50%;
  font-size: 50px;
  line-height: 30px;
  color: rgb(90, 98, 117);
}
#temp {
  font-size: 75px;
  color: rgb(90, 98, 117);
}

.other_info {
  font-size: 18px;
  opacity: 70%;
  padding: 10px 0px;
}

.col {
  text-align: center;
  background-color: rgb(50, 74, 106);
  padding: 10px 5px 10px;
  font-size: 20px;
  color: azure;
  margin: 1px;
}
.col3 {
  text-align: center;
  background-color: rgb(50, 74, 106);
  padding-bottom: 10px;
}

.col-auto {
  padding-left: 0px;
  font-size: 18px;
}
.btn_submit {
  padding: 3px 20px;
  border: none;
  background-color: rgb(50, 74, 106);
  color: azure;
}
.currently {
  margin: 10px 0px -15px -30px;
}

#info {
  display: block;
  width: 700px;
  margin: 0 auto;
}
.units {
  font-size: 20px;
  position: absolute;
  top: 21%;
  padding: 0px 5px;
}
#celsius {
  text-decoration: none;
  color: rgb(50, 74, 106);
}

#fahrenheit {
  text-decoration: none;
  color: rgb(50, 74, 106);
}
#last-updated {
  font-size: 18px;
  margin: 2px;
}
